@import "../../styles/variables.scss";
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
.dashboard-container{
    min-height: 100%;
width: 100%;
background-color: $background-color;
display: flex;
flex-direction: row;
}

.side-nav{
    width: 255px;
    background-color: $primary;
    order: 0;
}
.Layout-aside-inner {
    position: fixed;
    
  }
.main-body{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 1;
}
.dash-title{
    font-size: 30px;
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    background-color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 2;
}
.page-title{
    padding: 20px;
    margin-top: 80px;
}
.card-container{
    display: inline-flex;
   padding: 30px;
    flex-wrap: wrap;

    gap: 30px;
    
    

}
.stat-card{
    height: 150px;
    flex: 1 1 auto;
    border-radius: 5px;
    background-color: white;
    gap: 12px;
    border: rgb(180, 180, 180) 1px solid;
    // margin-right: 30px;
//     -webkit-box-shadow: 0px 0px 6px 0px rgba(112,112,112,0.67);
// -moz-box-shadow: 0px 0px 6px 0px rgba(112,112,112,0.67);
// box-shadow: 0px 0px 6px 0px rgba(112,112,112,0.67);
    // &:last-child {
    //     margin-right: 0;
    //   }
}
.analysis-container{
    display: flex;
    flex-direction: row;
    
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 500px;
}
.revenue-chart{
    height: 400px;
    flex: 3;
    background-color: white;
    border: rgb(180, 180, 180) 1px solid;
}
.user-chart{
    height: 400px;
    flex: 1;
    background-color: white;
    border: rgb(180, 180, 180) 1px solid;
}